{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все Новости</h1>
{{news}}
<h4> Количество всех публикаций: {{ news|length }} </h4>

 <hr>
 {% if news %}
      <table>
           <tr>
               <td><h4>Заголовок</h4></td>
               <td><h4>Дата публикации</h4></td>
               <td><h4>Текст</h4></td>
           </tr>
          {% for post in news %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.created_date|date:'d M Y'}}</td>
               <td>{{ post.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{% if page_obj.has_previous %}
        <a href="?page=1">1</a>
         {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
            ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<br>
<br>
<button> <a class="nav-link" href="{% url 'post_create' %}">Добавить новую публикацию</a> </button>
<br>
<br>
<button> <a class="nav-link" href="/news/search/">Поиск</a> </button>

{% endblock content %}
